

body{
  
  font-family: 'Alef', sans-serif;
  background-color: #779283;
}

/*HEADER*/

h1{
  color: #4C4C4A;
  font-size: 100px;
  font-family: 'Alef', sans-serif;
  margin-bottom: -70px;
}

header h3 {
    font-size: 20px; 
    font-family: 'Alef', sans-serif;
    margin-bottom:20px;

    position: relative;
    top:-15px;
    left:680px;

}

/*image and VCD*/

article {
  border-radius: 10px;
  background-color: black;
  height:330px;
  position: relative;


}

img {
  position: relative;
  margin: 20px 20px 20px 40px;
  border: #4C4C4A solid 5px;
  border-radius:10px;
  
}

.VCD{
  text-align: left;
  vertical-align: center;
  position: relative;
  margin: 30px 40px 40px 30px;
  height: 240px;
  width:600px;
  padding: 20px 20px 20px 20px;
  font-size: 23px;
  color: white;
  font-family: 'Alef', sans-serif;
  
  
  
}


/*footer*/

footer {
  background-color: black;
  height:280px;
  position: relative;
  border-radius: 10px;

}

footer h3{
  position: relative;
  text-align: center;
  font-size: 30px;
  color: #4C4C4A ;
  background-color: white;
  border: #4C4C4A solid 5px;
  border-radius: 10px;
  font-family: 'Alef', sans-serif;
  float:right;
  position: relative;
  
}
 footer p {
  text-align: left;
  margin: 0px 40px 40px 40px;
  
  padding: 20px;
  font-size: 21px;
  color: white;
  font-family: 'Alef', sans-serif;
  display: block;
  float:right;
  position: relative;
  

}



/*links*/

nav {
  background-color: black;
  text-align: center;
  border-radius: 10px;
}

a {
  color: #F3D8B5;
  position: relative;
  font-size: 20px;
  display:inline-block;
  margin: 10px;
  padding: 4px 4px 4px 4px;
  text-decoration: none;
  text-align: center;
  position: relative;
  
 
 }

  a:hover{
  color: #4C4C4A;
}